@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

.item {
  background-color: colors.$color-06;
  border: $item-border-width solid colors.$color-06;
  border-radius: 5px;
  width: $item-size;
  height: $item-size;
}
