@use 'src/styles/variables' as *;

.view-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}