<div class="view-container" [ngStyle]="mainService.visible.get('settings') ? {'opacity' : 1} : {'opacity' : 0}">
  <div class="top-container">

    <button class="fab" [ngClass]="mainService.isMobile ? 'fab-small' : 'fab-large'" (click)="onBackClick()">
      <div [ngClass]="mainService.isMobile ? 'button-back-small' : 'button-back-large'">
        <mat-icon [ngClass]="mainService.isMobile ? 'mat-icon-small' : 'mat-icon-large'">arrow_back_ios</mat-icon>
      </div>
    </button>

    <div style="flex-grow: 1; text-align: center;">{{ 'MENU.SETTINGS' | translate }}</div>

    <div [ngClass]="mainService.isMobile ? 'top-right-container-small' : 'top-right-container-large'"></div>
  </div>

  <div style="flex-grow: 1; display: flex; flex-direction: row; justify-content: center; align-content: center;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-content: center; width: 300px;">
      <div class="settings-container">
        <!-- Language -->
        <div class="lang-flag-container shadow" [ngClass]="{'current-lang': mainService.currentLanguage() === 'uk' }"
          (click)="this.mainService.changeLanguage('uk')">

          <img class="image" src="assets\images\ukraine.png" alt="Ukraine">
        </div>

        <div class="lang-flag-container shadow" [ngClass]="{'current-lang': mainService.currentLanguage() === 'en' }"
          (click)="this.mainService.changeLanguage('en');">

          <img class="image" src="assets\images\english.png" alt="English">
        </div>

        <!-- Theme -->
        <button class="fab fab-large"
          (click)="mainService.setTheme('light-theme')">
          <div style="display: flex; justify-content: center;">
            <svg fill=currentColor class="light-large" viewBox="0 -960 960 960" width="24px"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M440-800v-120h80v120h-80Zm0 760v-120h80v120h-80Zm360-400v-80h120v80H800Zm-760 0v-80h120v80H40Zm708-252-56-56 70-72 58 58-72 70ZM198-140l-58-58 72-70 56 56-70 72Zm564 0-70-72 56-56 72 70-58 58ZM212-692l-72-70 58-58 70 72-56 56Zm268 452q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm0-80q67 0 113.5-46.5T640-480q0-67-46.5-113.5T480-640q-67 0-113.5 46.5T320-480q0 67 46.5 113.5T480-320Zm0-160Z" />
            </svg>
          </div>
        </button>

        <button class="fab fab-large"
          (click)="mainService.setTheme('dark-theme')">
          <div style="display: flex; justify-content: center;">
            <svg fill=currentColor class="dark-large" version="1.1"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink"
              enable-background="new 0 0 512 512">
              <g>
                <g>
                  <path
                    d="m275.4,500.7c-135,0-244.7-109.8-244.7-244.7 1.06581e-14-134.9 109.8-244.7 244.7-244.7 8.2,0 16.4,0.4 24.6,1.2 7.2,0.7 13.5,5.2 16.5,11.7s2.4,14.2-1.6,20.2c-23,33.8-35.2,73.3-35.2,114.2 0,105 78.7,192.2 183.2,202.6 7.2,0.7 13.5,5.2 16.5,11.7 3.1,6.5 2.4,14.2-1.6,20.2-45.8,67.4-121.4,107.6-202.4,107.6zm-12.5-448c-106.5,6.5-191.2,95.2-191.2,203.3 1.42109e-14,112.3 91.4,203.7 203.7,203.7 56.4,0 109.6-23.4 147.8-63.7-46.2-11.7-88.1-36.8-120.8-72.6-41.1-45.2-63.8-103.6-63.8-164.6 0.1-37.1 8.4-73.2 24.3-106.1z" />
                </g>
              </g>
            </svg>

          </div>
        </button>

        <!-- Speed -->
        <div class="speed-small" style="grid-column: 1 / 3;">
          <div class="speed-small-2 shadow-inset">
            <label>{{ "SOLVE.SPEED" | translate }}</label>
            <mat-slider [min]="mainService.minSpeed" [max]="mainService.maxSpeed" step="1"
              (valueChange)="speedChanged($event)" [(ngModel)]="mainService.speed">
              <input matSliderThumb>
            </mat-slider>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
