<div class="lang-container" [ngClass]="mainService.isMobile ? 'lang-container-small' : 'lang-container-large'">
  <div class="lang-flag-container shadow"
    [ngClass]="{'current-lang': mainService.currentLanguage() === 'uk', 'lang-flag-container-small': mainService.isMobile, 'lang-flag-container-large': !mainService.isMobile }"
    (click)="selectUk()">

    <img class="image" [ngClass]="mainService.isMobile ? 'image-small' : 'image-large'"
      src="\water-sort-solver\assets\images\ukraine.png" alt="Ukraine">
  </div>
  <div class="lang-flag-container shadow"
    [ngClass]="{'current-lang': mainService.currentLanguage() === 'en', 'lang-flag-container-small': mainService.isMobile, 'lang-flag-container-large': !mainService.isMobile }"
    (click)="selectEn()">

    <img class="image" [ngClass]="mainService.isMobile ? 'image-small' : 'image-large'"
      src="\assets\images\english.png" alt="English">
  </div>
</div>
