@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

.lang-container {
  display: flex;
}

.lang-container-small {
  gap: 3px;
  margin: $margin-small;
}

.lang-container-large {
  gap: 5px;
  margin: $margin-large;
}

.lang-flag-container {
  border: 1px solid colors.$main-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lang-flag-container:active {
  background-color: colors.$color-03;
  border: 1px solid colors.$lang-border-color;
}

.lang-flag-container-small {
  width: 34px;
  height: 24px;
}

.lang-flag-container-large {
  width: 48px;
  height: 30px;
}

.current-lang {
  border: 1px solid colors.$lang-border-color;
}

.image {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.image-small {
  width: 30px;
  height: 20px;
}

.image-large {
  width: 40px;
  height: 26px;
}
