@use 'src/styles/variables' as *;

.tour {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.tour-block {
    position: absolute;
    background-color: var(--tour-background-color);
}

.tour-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-small {
    height: $tour-arrow-size-small;
    width: $tour-arrow-size-small;
}

.arrow-large {
    height: $tour-arrow-size-large;
    width: $tour-arrow-size-large;
}