<div class="view-container" [ngStyle]="mainService.visibleSetup ? {'opacity' : 1} : {'opacity' : 0}">
  <div>
    <div class="source-containers-parent">
      <div class="source-containers shadow-inset">
        <div *ngFor="let container of mainService.sourceContainers" [id]="container.id" class="source-container"
          cdkDropList [cdkDropListData]="container.colors" [cdkDropListConnectedTo]="getConnectedLists(container.id)"
          (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="canDrop(container)">

          <div *ngFor="let color of container.colors" class="item shadow shadow-active" [ngStyle]="getItemStyle(color)"
            cdkDrag>
          </div>
        </div>
      </div>
      <!-- <div>
        <button mat-mini-fab>+</button>
        <button mat-mini-fab>-</button>
      </div> -->

    </div>

    <div class="containers">
      <div *ngFor="let container of mainService.setupContainers" [id]="container.id" class="container" cdkDropList
        [cdkDropListData]="container.colors" [cdkDropListConnectedTo]="getConnectedLists(container.id)"
        (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="canDrop(container)">

        <div *ngFor="let color of container.colors" class="item shadow shadow-active" [ngStyle]="getItemStyle(color)"
          cdkDrag>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-container">
    <button mat-raised-button class="button" (click)="clearClick()" [disabled]="filling">Clear board</button>
    <button mat-raised-button class="button mr-1" (click)="fillRandomly()" [disabled]="filling">Fill randomly</button>
    <button mat-raised-button class="button" (click)="saveClick()" [disabled]="filling">Save</button>
    <button mat-raised-button class="button mr-1" (click)="loadClick()" [disabled]="filling">Load</button>
    <button mat-raised-button class="button" (click)="solveClick()" [disabled]="filling">Solve</button>
  </div>
</div>
