<div class="view-container" [ngStyle]="mainService.visibleSetup ? {'opacity' : 1} : {'opacity' : 0}">

  <div class="title-container">

    <app-lang-bar></app-lang-bar>

    <div class="title-buttons" [ngClass]="mainService.isMobile ? 'title-buttons-small' : 'title-buttons-large'">

      <button class="fab" [ngClass]="mainService.isMobile ? 'fab-small' : 'fab-large'"
        (click)="mainService.changeTheme()">D</button>

      <button class="fab" [ngClass]="mainService.isMobile ? 'fab-small' : 'fab-large'"
        (click)="tourService.startTour(tour)">?</button>

      </div>
  </div>

  <div class="text-containers-parent">
    <div class="header-text" [ngClass]="mainService.isMobile ? 'header-text-small' : 'header-text-large'">
      {{ 'SETUP.TITLE_1' | translate }}
    </div>
  </div>

  <div class="source-containers-parent">
    <div id="source-containers" class="source-containers shadow-inset"
      [ngClass]="mainService.isMobile ? 'source-containers-small' : 'source-containers-large'"
      style="width: 'sourcecontainersWidth';">

      <div *ngFor="let container of mainService.sourceContainers" [id]="container.id" class="source-container"
        [ngClass]="mainService.isMobile ? 'source-container-small' : 'source-container-large'" cdkDropList
        [cdkDropListData]="container.colors" [cdkDropListConnectedTo]="getConnectedLists(container.id)"
        (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="canDrop(container)">

        <div *ngFor="let color of container.colors" class="item shadow shadow-active"
          [ngClass]="mainService.isMobile ? 'item-small' : 'item-large'" [ngStyle]="getItemStyle(color)" cdkDrag>
        </div>
      </div>
    </div>
    <div id="buttons-add-remove" style="display: flex; gap: 0.5rem; margin: 10px;">
      <button class="fab" [ngClass]="mainService.isMobile ? 'fab-small' : 'fab-large'" (click)="addContainer()">
        <div style="display: flex; justify-content: center;">
          <mat-icon style="font-weight: 600;">add</mat-icon>
        </div>
      </button>
      <button class="fab" [ngClass]="mainService.isMobile ? 'fab-small' : 'fab-large'" (click)="removeContainer()">
        <div style="display: flex; justify-content: center;">
          <mat-icon style="font-weight: 600;">remove</mat-icon>
        </div>
      </button>
    </div>
  </div>

  <ng-container *ngIf="mainService.isMobile">
    <div class="setup-containers-small">
      <div id="containers" class="containers-2-small">
        <div class="containers containers-small">
          <div *ngFor="let container of mainService.setupContainers1" [id]="container.id"
            class="container container-small" cdkDropList [cdkDropListData]="container.colors"
            [cdkDropListConnectedTo]="getConnectedLists(container.id)" (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="canDrop(container)">

            <div *ngFor="let color of container.colors" class="item item-small shadow shadow-active"
              [ngStyle]="getItemStyle(color)" cdkDrag>
            </div>
          </div>
        </div>

        <div *ngIf="mainService.setupContainers2.length > 0" class="containers containers-small">
          <div *ngFor="let container of mainService.setupContainers2" [id]="container.id"
            class="container container-small" cdkDropList [cdkDropListData]="container.colors"
            [cdkDropListConnectedTo]="getConnectedLists(container.id)" (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="canDrop(container)">

            <div *ngFor="let color of container.colors" class="item item-small shadow shadow-active"
              [ngStyle]="getItemStyle(color)" cdkDrag>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!mainService.isMobile">
    <div class="containers">
      <div id="containers" class="containers-2-large">
        <div *ngFor="let container of mainService.setupContainers1" [id]="container.id"
          class="container container-large" cdkDropList [cdkDropListData]="container.colors"
          [cdkDropListConnectedTo]="getConnectedLists(container.id)" (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="canDrop(container)">

          <div *ngFor="let color of container.colors" class="item item-large shadow shadow-active"
            [ngStyle]="getItemStyle(color)" cdkDrag>
          </div>
        </div>
        <div *ngFor="let container of mainService.setupContainers2" [id]="container.id"
          class="container container-large" cdkDropList [cdkDropListData]="container.colors"
          [cdkDropListConnectedTo]="getConnectedLists(container.id)" (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="canDrop(container)">

          <div *ngFor="let color of container.colors" class="item item-large shadow shadow-active"
            [ngStyle]="getItemStyle(color)" cdkDrag>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="mainService.isMobile">
    <div>
      <div class="buttons-container buttons-container-small">
        <button id="button-clear" class="button button-small" (click)="clearClick()"
          [disabled]="filling">{{ "SETUP.CLEAR" | translate }}</button>
        <button id="button-fill" class="button button-small" (click)="fillRandomly()"
          [disabled]="filling">{{ "SETUP.FILL_RANDOM" | translate }}</button>
      </div>
      <div class="buttons-container buttons-container-small">
        <button id="button-save" class="button button-small" (click)="saveClick()"
          [disabled]="filling || !canSave">{{ "SETUP.SAVE" | translate }}</button>
        <button id="button-load" class="button button-small mr-1" (click)="loadClick()"
          [disabled]="filling">{{ "SETUP.LOAD" | translate }}</button>
        <button id="button-solve" class="button button-small" (click)="solveClick()"
          [disabled]="filling">{{ "SETUP.SOLVE" | translate }}</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!mainService.isMobile">
    <div class="buttons-container buttons-container-large">
      <button id="button-clear" class="button button-large" (click)="clearClick()"
        [disabled]="filling">{{ "SETUP.CLEAR" | translate }}</button>
      <button id="button-fill" class="button button-large mr-1" (click)="fillRandomly()"
        [disabled]="filling">{{ "SETUP.FILL_RANDOM" | translate }}</button>
      <button id="button-save" class="button button-large" (click)="saveClick()"
        [disabled]="filling || !canSave">{{ "SETUP.SAVE" | translate }}</button>
      <button id="button-load" class="button button-large mr-1" (click)="loadClick()"
        [disabled]="filling">{{ "SETUP.LOAD" | translate }}</button>
      <button id="button-solve" class="button button-large" (click)="solveClick()"
        [disabled]="filling">{{ "SETUP.SOLVE" | translate }}</button>
    </div>
  </ng-container>

</div>
