@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;
@use 'sass:math';

.item {
  cursor: move;
}

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.source-containers-parent {
  display: flex;
  justify-content: center;
}

.source-containers {
  margin-top: $margin * 2;
  padding: $padding;
  height: $item-size * 4 + $container-items-gap * 3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: $container-items-gap;
}

.source-container {
  width: $item-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: $container-items-gap;
}

.containers {
  margin-top: $margin * 3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: $container-items-gap;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 3px;
  cursor: move; // is not working
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

