<div class="board-setup-container" [ngStyle]="mainService.visibleSetup ? {'opacity' : 1} : {'opacity' : 0}">
  <div>
    <div class="source-containers-parent">
      <div class="source-containers">
        <div *ngFor="let container of mainService.sourceContainers" [id]="container.id" class="source-container"
          cdkDropList [cdkDropListData]="container.colors" [cdkDropListConnectedTo]="getConnectedLists(container.id)"
          (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="canDrop(container)">

          <div *ngFor="let color of container.colors" class="item" [ngStyle]="getItemStyle(color)" cdkDrag>
          </div>
        </div>
      </div>
    </div>

    <div class="containers">
      <div *ngFor="let container of mainService.setupContainers" [id]="container.id" class="container" cdkDropList
        [cdkDropListData]="container.colors" [cdkDropListConnectedTo]="getConnectedLists(container.id)"
        (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="canDrop(container)">

        <div *ngFor="let color of container.colors" class="item" [ngStyle]="getItemStyle(color)" cdkDrag>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-container">
    <button mat-raised-button (click)="clearClick()">Clear board</button>
    <button mat-raised-button (click)="saveClick()">Save</button>
    <button mat-raised-button (click)="loadClick()">Load</button>
    <button mat-raised-button (click)="solveClick()">Solve</button>
  </div>
</div>
