@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

.item {
  background-color: colors.$color-06;
  border: $item-border-width solid colors.$color-06;
  border-radius: 5px;
  width: $item-size;
  height: $item-size;
  transition-property: left, top;
  // transition-duration: 2s; - it is on variables
  transition-timing-function: ease-in-out;
}

.item-absolute {
  position: absolute;
  top: 0px;
  left: 0px;
}
