@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

.item {
  background-color: colors.$color-06;
  transition-property: left, top;
  // transition-duration: 2s; - it is on variables
  position: absolute;
  top: 0px;
  left: 0px;
}
