@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

.item {
  background-color: colors.$color-06;
  border: $item-border-width solid colors.$color-06;
  border-radius: $item-border-radius;
  width: $item-size;
  height: $item-size;
  transition-property: left, top;
  // transition-duration: 2s; - it is on variables
  transition-timing-function: ease-in-out;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.item-absolute {
  position: absolute;
  top: 0px;
  left: 0px;
}
