$color-00: rgb(250, 250, 250);
$color-01: rgb(245, 245, 245);
$color-02: rgb(240, 240, 240);
$color-03: rgb(220, 220, 220);
$color-04: rgb(200, 200, 200);
$color-05: rgb(180, 180, 180);
$color-06: rgb(160, 160, 160);
$color-07: rgb(140, 140, 140);
$color-08: rgb(120, 120, 120);
$color-09: rgb(100, 100, 100);
$color-10: rgb(80, 80, 80);
$color-11: rgb(60, 60, 60);
$color-12: rgb(40, 40, 40);

$main-background-color: $color-00;

$border-color: $color-04;
$board-background-color: $main-background-color;

$container-background-color: $color-03;
$source-container-border-color: $color-02;
$container-border-color: $color-06;

$text-color: $color-09;
$text-color-disabled: $color-05;

$tour-background-color: $color-06;
$tour-tooltip-border-color: $color-05;
$tour-tooltip-background-color: white;
$tour-tooltip-color: $color-11;
$tour-next-color: green;


