@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;


.view-container {
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.container {
  // border-left: $container-border-width solid colors.$container-border-color;
  // border-right: $container-border-width solid colors.$container-border-color;
  // border-bottom: $container-border-width solid colors.$container-border-color;
  border-bottom-left-radius: $container-border-radius;
  border-bottom-right-radius: $container-border-radius;
  width: $item-size;
  height: $item-size * 4 + $container-items-gap * 3;
  padding: $container-items-gap;
}

.item {
  width: $item-size;
  height: $item-size;
  border-radius: $item-border-radius;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: $margin;
  gap: 10px;
}

button {
  min-width: $button-min-width !important;
  padding-left: $button-padding !important;
  padding-right: $button-padding !important;
  color: colors.$text-color !important;
  font-weight: 600 !important;
}

// button:disabled {
//   color: colors.$text-color-disabled;
// }

.shadow {
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shadow-active:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
