$indent: 0.5rem;
$margin: 8px;
$padding: 8px;

$button-height: 30px;
$button-min-width: 100px;
$button-padding: 20px;

$container-width: 30px;
$container-height: 155px;
$container-items-gap: 5px;

$item-size: 30px;
$item-border-width: 1px;
