$margin: 16px;
$margin-small: 16px;
$margin-large: 20px;

$padding: 10px;
$padding-small: 10px;
$padding-large: 20px;

$font-size: 14px;
$font-size-small: 14px;
$font-size-large: 16px;

$font-weight-small: 400;
$font-weight-large: 600;



$button-height: 28px;
$button-height-small: 28px;
$button-height-large: 36px;

$button-font-size: 13px;
$button-font-size-small: 13px;
$button-font-size-large: 16px;

$button-font-weight: 400;
$button-font-weight-small: 400;
$button-font-weight-large: 600;

$button-min-width: 80px;
$button-min-width-small: 80px;
$button-min-width-large: 100px;

$button-padding: 15px;
$button-padding-small: 15px;
$button-padding-large: 20px;

$container-width: 30px;
$container-height: 155px;
$container-items-gap: 4px;
$container-items-gap-large: 6px;
$container-items-gap-small: 4px;
$container-border-width: 2px;

$container-border-radius: 3px;
$container-border-radius-small: 3px;
$container-border-radius-large: 6px;

$item-size: 25px;
$item-size-small: 25px;
$item-size-large: 30px;

$item-border-width: 0px;

$item-border-radius: 3px;
$item-border-radius-small: 3px;
$item-border-radius-large: 5px;
