$indent: 0.5rem;
$margin: 20px;
$padding: 20px;

$button-height: 30px;
$button-min-width: 100px;
$button-padding: 20px;

$container-width: 30px;
$container-height: 155px;
$container-items-gap: 5px;
$container-border-width: 2px;
$container-border-radius: 8px;

$item-size: 30px;
$item-border-width: 0px;
$item-border-radius: 5px;
