@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

.container {
  // background-color: colors.$container-background-color;
  border-width: 3px;
  border-style: solid;
  border-color: colors.$color-05;
  border-radius: 5px;
  width: 2.3rem;
  height: 10.5rem;
  margin-top: 3rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.3rem;
}
