@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

$border-width: 3px;
$border-radius: 8px;
$border-color: colors.$color-08;

.container {
  border-left: $border-width solid $border-color;
  border-right: $border-width solid $border-color;
  border-bottom: $border-width solid $border-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  width: $container-width;
  height: $container-height;
  margin-top: 3rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.3rem;
}
