@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

label {
  user-select: none;
}

button {
  height: $button-height;
  min-width: $button-min-width;
  padding-left: $button-padding;
  padding-right: $button-padding;
  color: colors.$text-color;
  font-weight: 600;
}

button:not(:last-child) {
  margin-right: $indent;
}

button:disabled {
  color: colors.$text-color-disabled;
}

.buttons-container {
  border: 1px solid colors.$border-color;
  background-color: colors.$main-background-color;
  margin: $margin;
  padding: $padding;
}
