<div class="body-container" [ngClass]="mainService.isMobile ? 'body-container-small': 'body-container-large'">
  <div class="body-vertical-container">
    <div class="main-container" [ngClass]="mainService.isMobile ? '': 'main-container-large shadow'">
      <app-board-setup *ngIf="mainService.mode === 'setup'"></app-board-setup>
      <app-board-in-progress *ngIf="mainService.mode === 'in-progress'"></app-board-in-progress>
      <app-board-no-solution *ngIf="mainService.mode === 'no-solution'"></app-board-no-solution>
      <app-board-solve *ngIf="mainService.mode === 'solve'"></app-board-solve>
      <app-board-play *ngIf="mainService.mode === 'play'"></app-board-play>
    </div>
  </div>

  <app-tour></app-tour>

</div>
