@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;
@use 'sass:math';

.body-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: colors.$main-background-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-size: 16px;
  // font-weight: 600;
  user-select: none;
}

.body-vertical-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-container {
  background-color: colors.$main-background-color;
  flex: 1;
}
