<div class="view-container" [ngStyle]="mainService.visible.get(view) ? {'opacity' : 1} : {'opacity' : 0}">

  <div class="solution-text-container"
    [ngClass]="mainService.isMobile ? 'solution-text-container-small' : 'solution-text-container-large'">
    <p>{{ "SOLVE.SOLUTION_COUNT" | translate: { count: mainService.solution!.steps.length} }}</p>
    <p>{{ "SOLVE.STEP" | translate: {step: completeStepIndex} }}</p>
  </div>


  <div class="relative-container">

      <div [ngClass]="mainService.isMobile ? 'play-containers-small' : 'play-containers-large'">
        <div class="containers" [ngClass]="mainService.isMobile ? 'containers-small' : 'containers-large'">
          <app-container *ngFor="let container of playContainers1" [container]="container"
            [attr.id]="getContainerId(container.index)">
          </app-container>
        </div>
        <div class="containers" [ngClass]="mainService.isMobile ? 'containers-small' : 'containers-large'">
          <app-container *ngFor="let container of playContainers2" [container]="container"
            [attr.id]="getContainerId(container.index)">
          </app-container>
        </div>
      </div>

    <app-moving-item class="moving-item" [item]="movingItem"></app-moving-item>
  </div>

  <ng-container *ngIf="mainService.isMobile">
    <div>
      <div class="buttons-container buttons-container-small">
        <button class="button button-small" (click)="backClick()" [disabled]="playing || stepIndex === 0">{{ "SOLVE.STEP_BACK" | translate }}</button>
        <button class="button button-small" (click)="nextClick()" [disabled]="playing || stepIndex>=mainService.solution!.steps.length">{{ "SOLVE.NEXT_STEP" | translate }}</button>
      </div>
      <div class="buttons-container buttons-container-small">
        <button class="button button-small" (click)="playBackClick()" [disabled]="playing || stepIndex === 0">{{ "SOLVE.PLAY_BACK" | translate }}</button>
        <button class="button button-small mr-1" (click)="playClick()" [disabled]="playing || stepIndex>=mainService.solution!.steps.length">{{ "SOLVE.PLAY_FORWARD" | translate }}</button>
        <button class="button button-small" (click)="stopClick()" [disabled]="!playing || stopping">{{ "SOLVE.STOP" | translate }}</button>
      </div>
      <div class="buttons-container buttons-container-small">
        <button class="button button-small" (click)="setupClick()" [disabled]="playing">{{ "SETUP_BOARD" | translate }}</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!mainService.isMobile">
    <div class="buttons-container buttons-container-large">
      <button class="button button-large" (click)="backClick()" [disabled]="playing || stepIndex === 0">{{ "SOLVE.STEP_BACK" | translate }}</button>
      <button class="button button-large mr-1" (click)="nextClick()" [disabled]="playing || stepIndex>=mainService.solution!.steps.length">{{ "SOLVE.NEXT_STEP" | translate }}</button>
      <button class="button button-large" (click)="playBackClick()"  [disabled]="playing || stepIndex === 0">{{ "SOLVE.PLAY_BACK" | translate }}</button>
      <button class="button button-large mr-1" (click)="playClick()" [disabled]="playing || stepIndex>=mainService.solution!.steps.length">{{ "SOLVE.PLAY_FORWARD" | translate }}</button>
      <button class="button button-large mr-1" (click)="stopClick()" [disabled]="!playing || stopping">{{ "SOLVE.STOP" | translate }}</button>
      <button class="button button-large" (click)="setupClick()" [disabled]="playing">{{ "SETUP_BOARD" | translate }}</button>
    </div>
  </ng-container>

</div>
