@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

.board-solve-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 0.3s ease-in-out;
}

.relative-container {
  position: relative;
}

.containers {
  margin-top: $margin * 7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.item-absolute {
  position: absolute;
  top: 0px;
  left: 0px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: $margin;
  gap: 10px;
}

button {
  min-width: $button-min-width;
  padding-left: $button-padding;
  padding-right: $button-padding;
  color: colors.$text-color;
  font-weight: 600;
}

.mr {
  margin-right: $margin;
}

.solution-text-container {
  margin: $margin * 2;
  text-align: center;
}
