@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.relative-container {
  position: relative;
}

.containers-small {
  margin-top: $margin-small * 3;
}

.containers-large {
  margin-top: $margin-large * 3;
}

.moving-item {
  position: absolute;
  top: 0px;
  left: 0px;
}

.solution-text-container {
  text-align: center;
}

.solution-text-container-small {
  margin: $margin-small * 2;
}

.solution-text-container-large {
  margin: $margin-large * 2;
}
