@use 'src/styles/variables' as *;
@use 'src/styles/colors' as colors;

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.relative-container {
  position: relative;
}

.containers {
  margin-top: $margin * 7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.moving-item {
  position: absolute;
  top: 0px;
  left: 0px;
}

.mr {
  margin-right: $margin;
}

.solution-text-container {
  margin: $margin * 2;
  text-align: center;
}
