<div class="view-container" [ngStyle]="mainService.visiblePlay ? {'opacity' : 1} : {'opacity' : 0}">

  <div class="solution-text-container"
    [ngClass]="mainService.isMobile ? 'solution-text-container-small' : 'solution-text-container-large'">
    <!-- <p>{{ "SOLVE.SOLUTION_COUNT" | translate: { count: mainService.solution!.steps.length} }}</p> -->
    <p>{{ "SOLVE.STEP" | translate: {step: completeStepIndex} }}</p>
  </div>
  <div class="relative-container">
    <ng-container *ngIf="mainService.isMobile">
      <div class="play-containers-small">
        <div class="containers containers-small">
          <app-container *ngFor="let container of mainService.playContainers1" [container]="container"
            [attr.id]="getContainerId(container.index)" (click)="onContainerClick(container)">
          </app-container>
        </div>
        <div class="containers containers-small">
          <app-container *ngFor="let container of mainService.playContainers2" [container]="container"
            [attr.id]="getContainerId(container.index)" (click)="onContainerClick(container)">
          </app-container>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!mainService.isMobile">
      <div class="containers containers-large">
        <app-container *ngFor="let container of mainService.playContainers1; let containerIndex = index"
          [container]="container" [attr.id]="getContainerId(containerIndex)" (click)="onContainerClick(container)">
        </app-container>
        <app-container *ngFor="let container of mainService.playContainers2; let containerIndex = index"
          [container]="container" [attr.id]="getContainerId(containerIndex)" (click)="onContainerClick(container)">
        </app-container>
      </div>
    </ng-container>

    <app-moving-item class="moving-item" [item]="movingItem"></app-moving-item>
  </div>

  <div class="speed-small">
    <div class="speed-small-2 shadow-inset">
      <label>{{ "SOLVE.SPEED" | translate }}</label>
      <mat-slider [min]="minSpeed" [max]="maxSpeed" step="1" (valueChange)="speedChanged($event)" [(ngModel)]="speed">
        <input matSliderThumb>
      </mat-slider>
    </div>
  </div>

  <ng-container *ngIf="mainService.isMobile">
    <div class="buttons-container buttons-container-small">
      <button class="button button-small" (click)="setupClick()">{{ "SETUP_BOARD" | translate}}</button>
    </div>
  </ng-container>

  <ng-container *ngIf="!mainService.isMobile">
    <div class="buttons-container buttons-container-large">
      <button class="button button-large" (click)="setupClick()">{{ "SETUP_BOARD" | translate }}</button>
    </div>
  </ng-container>

</div>
