<div class="view-container" [ngStyle]="mainService.visible.get('play') ? {'opacity' : 1} : {'opacity' : 0}">


    <div class="title-container">

      <div class="title-buttons" [ngClass]="mainService.isMobile ? 'title-buttons-small' : 'title-buttons-large'">

        <button class="fab" [ngClass]="mainService.isMobile ? 'fab-small' : 'fab-large'" [matMenuTriggerFor]="menu">
          <div style="display: flex; justify-content: center; align-items: center;">
            <mat-icon [ngClass]="mainService.isMobile ? 'mat-icon-small' : 'mat-icon-large'">menu</mat-icon>
          </div>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="mainService.setView('menu')">{{"MENU.MAIN" | translate}}</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="playClick()">{{"MENU.PLAY" | translate}}</button>
          <mat-divider></mat-divider>
          <!-- <button mat-menu-item (click)="saveClick()" [disabled]="filling || !saveEnabled">{{"SETUP.SAVE" |
            translate}}</button>
          <button mat-menu-item (click)="loadClick()" [disabled]="filling || !loadEnabled">{{"SETUP.LOAD" |
            translate}}</button> -->
          <!-- <mat-divider></mat-divider> -->
          <!-- <button mat-menu-item (click)="solveClick()" [disabled]="filling">{{"SETUP.SOLVE" | translate}}</button>
          <button mat-menu-item (click)="playClick()" [disabled]="filling">{{"SETUP.PLAY" | translate}}</button> -->
          <!-- <mat-divider></mat-divider> -->
          <button mat-menu-item (click)="mainService.setView('settings')" [disabled]="movingInProgress">{{"MENU.SETTINGS" |
            translate}}</button>
        </mat-menu>

        <button class="fab" [ngClass]="mainService.isMobile ? 'fab-small' : 'fab-large'" (click)="mainService.fullScreen()">?</button>

      </div>
    </div>



  <div class="solution-text-container"
    [ngClass]="mainService.isMobile ? 'solution-text-container-small' : 'solution-text-container-large'">
    <p>{{ "SOLVE.STEP" | translate: {step: steps.length} }}</p>
  </div>

  <div class="relative-container" (click)="onClick($event)">
    <div [ngClass]="mainService.isMobile ? 'play-containers-small' : 'play-containers-large'">
      <div class="containers" [ngClass]="mainService.isMobile ? 'containers-small' : 'containers-large'">
        <app-container *ngFor="let container of playContainers1" [container]="container" [showActive]="true"
          [attr.id]="getContainerId(container.index)" (click)="onContainerClick($event, container)">
        </app-container>
      </div>
      <div class="containers" [ngClass]="mainService.isMobile ? 'containers-small' : 'containers-large'">
        <app-container *ngFor="let container of playContainers2" [container]="container" [showActive]="true"
          [attr.id]="getContainerId(container.index)" (click)="onContainerClick($event, container)">
        </app-container>
      </div>
    </div>

    <app-moving-item *ngFor="let movingItem of movingController.movingItems" class="moving-item" [item]="movingItem" (click)="onMovingItemClick()"></app-moving-item>

  </div>

  <ng-container *ngIf="mainService.isMobile">
    <div class="buttons-container buttons-container-small">
      <button class="button button-small" (click)="restartClick()" [disabled]="movingController.stoppingInProgress || steps.length === 0">{{ "PLAY.RESTART" | translate }}</button>
      <button class="button button-small" (click)="backClick()" [disabled]="movingController.stoppingInProgress || steps.length === 0">{{ "SOLVE.STEP_BACK" | translate }}</button>
    </div>
  </ng-container>

  <ng-container *ngIf="!mainService.isMobile">
    <div class="buttons-container buttons-container-large">
      <button class="button button-large" (click)="restartClick()" [disabled]="movingController.stoppingInProgress || steps.length === 0">{{ "PLAY.RESTART" | translate }}</button>
      <button class="button button-large" (click)="backClick()" [disabled]="movingController.stoppingInProgress || steps.length === 0">{{ "SOLVE.STEP_BACK" | translate }}</button>
    </div>
  </ng-container>

</div>
