<div class="view-container" [ngStyle]="mainService.visible.get(view) ? {'opacity' : 1} : {'opacity' : 0}">

    <div class="title-container">
        <div class="title-buttons" [ngClass]="mainService.isMobile ? 'title-buttons-small' : 'title-buttons-large'">
            <button class="fab" [ngClass]="mainService.isMobile ? 'fab-small' : 'fab-large'" [matMenuTriggerFor]="menu">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <mat-icon [ngClass]="mainService.isMobile ? 'mat-icon-small' : 'mat-icon-large'">menu</mat-icon>
                </div>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="mainMenuClick()"
                        [disabled]="stoppingInProgress">{{"MENU.MAIN" | translate}}</button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="playClick()"
                        [disabled]="stoppingInProgress">{{"PLAY.PLAY" | translate}}</button>
                <button mat-menu-item (click)="solveClick()"
                        [disabled]="stoppingInProgress">{{"MENU.SOLVE" | translate}}</button>
                <mat-divider></mat-divider>

                <button mat-menu-item (click)="createClick()"
                        [disabled]="stoppingInProgress">{{"MENU.CREATE" | translate}}</button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="saveClick()"
                        [disabled]="stoppingInProgress">{{"MENU.SAVE" | translate}}</button>
                <button mat-menu-item (click)="loadClick()"
                        [disabled]="stoppingInProgress">{{"MENU.LOAD" | translate}}</button>

                <mat-divider></mat-divider>
                <button mat-menu-item (click)="settingsClick()"
                        [disabled]="stoppingInProgress">{{"MENU.SETTINGS" | translate}}</button>
            </mat-menu>

            <button class="fab" [ngClass]="mainService.isMobile ? 'fab-small' : 'fab-large'"
                    (click)="mainService.setFullScreen(!mainService.isFullScreen)">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <mat-icon *ngIf="!mainService.isFullScreen" [ngClass]="mainService.isMobile ? 'mat-icon-small' : 'mat-icon-large'"
                            style="font-size: 30px; height: 30px; width: 30px; font-weight: 500; line-height: unset;">fullscreen</mat-icon>
                    <mat-icon *ngIf="mainService.isFullScreen" [ngClass]="mainService.isMobile ? 'mat-icon-small' : 'mat-icon-large'"
                            style="font-size: 30px; height: 30px; width: 30px; font-weight: 500; line-height: unset;">fullscreen_exit</mat-icon>
                </div>
            </button>
        </div>
    </div>

    <div class="solution-text-container"
        [ngClass]="mainService.isMobile ? 'solution-text-container-small' : 'solution-text-container-large'">
        <div *ngIf="previousStepCount > 0">{{ "PLAY.BEST_STEPS" | translate: {bestSteps: previousStepCount} }}</div>
        <p>{{ "SOLVE.STEP" | translate: {step: gameService.steps.length} }}</p>
    </div>

    <div id="moving-parent" class="relative-container"
            (pointerdown)="onMouseUpDown(true, $event)" (pointerup)="onMouseUpDown(false, $event)">

        <!-- Duplicate for position -->
        <div class="containers-parent"
            [ngClass]="mainService.isMobile ? 'containers-parent-small' : 'containers-parent-large'"
            style="position: absolute; opacity: 0; z-index: 0;">

            <div class="containers" [ngClass]="mainService.isMobile ? 'containers-small' : 'containers-large'">
                <div *ngFor="let container of positionContainers1" class="container"
                        [ngClass]="mainService.isMobile ? 'container-small' : 'container-large'"
                        (pointerenter)="onMouseEnter($event, container.index)" (pointerleave)="onMouseLeave()">

                    <div *ngFor="let color of container.colors; let itemIndex=index"
                            [id]="Utils.getContainerItemId(container.index, itemIndex)" class="item"
                            [ngClass]="mainService.isMobile ? 'item-small' : 'item-large'">
                    </div>
                </div>
            </div>
            <div class="containers" [ngClass]="mainService.isMobile ? 'containers-small' : 'containers-large'">
                <div *ngFor="let container of positionContainers2" class="container"
                        [ngClass]="mainService.isMobile ? 'container-small' : 'container-large'"
                        (pointerenter)="onMouseEnter($event, container.index)" (pointerleave)="onMouseLeave()">

                    <div *ngFor="let color of container.colors; let itemIndex=index"
                            [id]="Utils.getContainerItemId(container.index, itemIndex)" class="item"
                            [ngClass]="mainService.isMobile ? 'item-small' : 'item-large'">
                    </div>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="containers-parent"
                [ngClass]="mainService.isMobile ? 'containers-parent-small' : 'containers-parent-large'">

            <div class="containers" [ngClass]="mainService.isMobile ? 'containers-small' : 'containers-large'">
                <div *ngFor="let container of playContainers1" [id]="Utils.getContainerId(container.index)"
                        class="container" [ngClass]="mainService.isMobile ? 'container-small' : 'container-large'"
                        [ngStyle]="getContainerActiveStyle(container.index)">

                    <div *ngFor="let color of container.colors" class="item shadow"
                            [ngClass]="mainService.isMobile ? 'item-small' : 'item-large'"
                            [ngStyle]="Utils.getItemStyle(color)">
                    </div>
                </div>
            </div>

            <div class="containers" [ngClass]="mainService.isMobile ? 'containers-small' : 'containers-large'">
                <div *ngFor="let container of playContainers2" [id]="Utils.getContainerId(container.index)"
                        class="container" [ngClass]="mainService.isMobile ? 'container-small' : 'container-large'"
                        [ngStyle]="getContainerActiveStyle(container.index)">

                    <div *ngFor="let color of container.colors" class="item shadow"
                            [ngClass]="mainService.isMobile ? 'item-small' : 'item-large'"
                            [ngStyle]="Utils.getItemStyle(color)">
                    </div>
                </div>
            </div>
        </div>
        <app-moving-item *ngFor="let movingItem of movingController.movingItems" [item]="movingItem"
            (click)="onMovingItemClick()"></app-moving-item>
    </div>

    <ng-container *ngIf="mainService.isMobile">
        <div class="buttons-container buttons-container-small">
            <button class="button button-small" (click)="restartClick()"
                    [disabled]="stopDisabled()">{{ "PLAY.RESTART" | translate }}</button>
            <button class="button button-small" (click)="hintClick()"
                    [disabled]="hintDisabled()">{{ "PLAY.HINT.TITLE" | translate }}</button>
            <button class="button button-small" (click)="backClick()"
                    [disabled]="stopDisabled()">{{ "SOLVE.STEP_BACK" | translate }}</button>
        </div>
    </ng-container>

    <ng-container *ngIf="!mainService.isMobile">
        <div class="buttons-container buttons-container-large">
            <button class="button button-large" (click)="restartClick()"
                    [disabled]="stopDisabled()">{{ "PLAY.RESTART" | translate }}</button>
            <button class="button button-large" (click)="hintClick()"
                    [disabled]="hintDisabled()">{{ "PLAY.HINT.TITLE" | translate }}</button>
            <button class="button button-large" (click)="backClick()"
                    [disabled]="stopDisabled()">{{ "SOLVE.STEP_BACK" | translate }}</button>
        </div>
    </ng-container>

</div>