@use 'src/styles/variables' as *;

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.relative-container {
  position: relative;
}

.play-containers-small {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.play-containers-large {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.moving-item {
  position: absolute;
  top: 0px;
  left: 0px;
}

.solution-text-container {
  text-align: center;
}

.solution-text-container-small {
  // margin: $margin-small;
}

.solution-text-container-large {
  // margin: $margin-large;
}

.containers-small {
  gap: 6px;
}

.containers-large {
  gap: 10px;
}

.speed-small {
  display: flex;
  justify-content: center;
}

.speed-small-2 {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 300px;
  padding-left: $padding-small;
  padding-right: $padding-small;
}

mat-slider {
  width: 250px;
}
