// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import 'styles/global-styles';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$water-sort-solver-primary: mat.define-palette(mat.$indigo-palette);
$water-sort-solver-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$water-sort-solver-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$water-sort-solver-theme: mat.define-light-theme((color: (primary: $water-sort-solver-primary,
        accent: $water-sort-solver-accent,
        warn: $water-sort-solver-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($water-sort-solver-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Themes


:root {
  --color-00: rgb(250, 250, 250);
  --color-01: rgb(245, 245, 245);
  --color-02: rgb(240, 240, 240);
  --color-03: rgb(220, 220, 220);
  --color-04: rgb(200, 200, 200);
  --color-05: rgb(180, 180, 180);
  --color-06: rgb(160, 160, 160);
  --color-07: rgb(140, 140, 140);
  --color-08: rgb(120, 120, 120);
  --color-09: rgb(100, 100, 100);
  --color-10: rgb(80, 80, 80);
  --color-11: rgb(60, 60, 60);
  --color-12: rgb(40, 40, 40);

  --main-background-color: var(--color-00);
  --text-color: var(--color-09);

  --button-background-color: white;
  --button-text-color: var(--text-color);
  --button-active-background-color: var(--color-03);
  --button-disabled-background-color: var(--color-02);
  --button-disabled-text-color: var(--color-06);

  --tour-background-color: var(--color-10);
  --tour-tooltip-border-color: var(--color-05);
  --tour-tooltip-background-color: white;
  --tour-tooltip-color: var(--color-11);
  --tour-next-color: green;
  --lang-border-color: rgba(0, 0, 199, 0.692);
  --lang-background-color: var(--color-03);
}

.dark-theme {
  --color-dark-00: rgb(52, 58, 64);
  --color-dark-01: rgb(62, 68, 74);
  --color-dark-02: rgb(72, 78, 84);
  --color-dark-03: rgb(82, 88, 94);
  --color-dark-04: rgb(92, 98, 104);
  --color-dark-05: rgb(102, 108, 114);
  --color-dark-06: rgb(130, 130, 130);
  --color-dark-07: rgb(150, 150, 150);
  --color-dark-08: rgb(170, 170, 170);
  --color-dark-09: rgb(190, 190, 190);
  --color-dark-10: rgb(210, 210, 210);
  --color-dark-11: rgb(230, 230, 230);
  --color-dark-12: rgb(250, 250, 250);

  --main-background-color: var(--color-dark-00);
  --text-color: var(--color-dark-10);

  --button-background-color: var(--color-dark-02);
  --button-text-color: var(--text-color);
  --button-active-background-color: var(--color-dark-03);
  --button-disabled-background-color: var(--color-dark-02);
  --button-disabled-text-color: var(--color-dark-05);

  --tour-background-color: var(--color-dark-02);
  --tour-tooltip-border-color: var(--color-dark-05);
  --tour-tooltip-background-color: var(--color-dark-01);
  --tour-tooltip-color: var(--color-dark-09);
  --tour-next-color: rgb(110, 253, 110);

  --lang-border-color: rgb(150, 250, 255);
  --lang-background-color: var(--color-dark-03);
}
