@use 'src/styles/variables' as *;

.view-container {
  display: flex;
  flex-direction: column;
}

.title-buttons {
  display: flex;
  justify-content: end;
}

.title-buttons-small {
  margin: $margin-small;
}

.title-buttons-large {
  margin: $margin-large;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.menu-item {
  color: var(--button-text-color);
  background-color: var(--button-background-color);  padding: 10px 40px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.menu-item:active {
  font-weight: 800;
  background-color: var(--button-background-color-active);
}

