@use 'src/styles/variables' as *;

.view-container {
    display: flex;
    flex-direction: column;
}


.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.title-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.version {
    color: var(--button-background-color-disabled);
}

.title-buttons-small {
    margin: $margin-small;
}

.title-buttons-large {
    margin: $margin-large;
}