<div style="display: flex; flex-direction: column; gap: 30px; user-select: none;">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="font-size: 24px; font-weight: 700; margin-bottom: 15px;">{{ 'PLAYED.CONGRATS' | translate }}</div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <!-- TODO: закінчення слова крок відповідно до кількості кроків -->
            <div style="margin-top: 15px; text-align: center;">{{ 'PLAYED.STEP_COUNT' | translate : { stepCount: stepCount } }}</div>
            <div *ngIf="stepCount < previousStepCount" style="text-align: center;">{{ 'PLAYED.STEPS_BETTER' | translate : { previousStepCount: previousStepCount } }}</div>
            <div *ngIf="gameCount > 4" style="margin-top: 15px; text-align: center;">{{ 'PLAYED.SOLVED' | translate : { gameCount: gameCount } }}</div>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items:center; flex-wrap: nowrap;">
        <div class="buttons-container">
            <button class="button" [ngClass]="mainService.isMobile ? 'button-small' : 'button-large'"
                style="margin-bottom: 15px;" (click)="onPlayClick()">{{ 'MENU.PLAY_NEXT' | translate }}</button>

            <button class="button" [ngClass]="mainService.isMobile ? 'button-small' : 'button-large'"
                style="margin-bottom: 15px;" (click)="onPlayAgainClick()">{{ 'MENU.PLAY_AGAIN' | translate }}</button>

            <button class="button" [ngClass]="mainService.isMobile ? 'button-small' : 'button-large'"
                (click)="onShareClick()">{{ 'MENU.SHARE' | translate }}</button>

            <button class="button" [ngClass]="mainService.isMobile ? 'button-small' : 'button-large'"
                style="margin-bottom: 15px;" (click)="onCustomizeClick()">{{ 'MENU.CREATE' | translate }}</button>

            <button class="button" [ngClass]="mainService.isMobile ? 'button-small' : 'button-large'"
                (click)="onMainMenuClick()">{{ 'MENU.MAIN' | translate }}</button>

        </div>
    </div>
</div>